@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CRSV,MONO@-15..0,300..800,0..1,0..1&display=swap');

:root {
  --content-width: 800px;
  --sidebar-width: 300px;

  --font-body: 'Recursive', 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'Recursive', 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  --color-gray-100: #F3F4F6;
	--color-gray-500: #667791;
	--color-gray-800: #334155;
	--color-gray-900: #1E293B;
	--text-color: var(--color-gray-800);

	--page-bg-color: white;
	--element-bg-color: var(--color-gray-100);
}

header nav ul.nav {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding: 0;
}

@media ( min-width: 900px ) {
  header nav ul {
    justify-content: flex-end;
  }
}

header nav ul li {
  padding: 0 1em;
}

header nav {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* #main {
  align-self: start;
  margin: 0;
}

header .level.container {
  margin: 0;
} */

footer {
  padding: 1em;
}
footer p {
  margin-bottom: 0;
}

.sidebar ul.tag-list {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}
.sidebar ul.tag-list li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . ";
 }
.sidebar ul.tag-list a {
  padding-right: 0.33em;
  background: var(--page-bg-color);
}
.sidebar ul.tag-list span {
  float: right;
  padding-left: 0.33em;
  background: var(--page-bg-color);
}

.postlist h3,
.postlist .post-meta {
  margin-bottom: calc(var(--space) / 2);
}

.post-meta,
.post-meta a {
  color: var(--color-gray-500);
  text-decoration: none;
}

.post-meta a:hover,
.post-meta a:focus {
  text-decoration: underline;
}

.site-search {
  display: flex;
}
.site-search button {
  background: var(--text-color);
}
.site-search button,
.site-search input {
  border: 2px solid var(--text-color);
}

.direct-link {
  display: inline-block;
  position: absolute;
  left: -1em;
  padding-right: 0.5em;
  color: inherit;
  text-decoration: none;
  display: none;
}

h2[id], h3[id] {
  position: relative;
}

h2[id]:hover .direct-link,
h3[id]:hover .direct-link {
  display: inline;
}

.home main {
  display: flex;
  align-items: flex-end;
}
.home .sidebar {
  display: none;
}
@media ( min-width: 900px ) {
  .home .sidebar {
    display: flex;
    align-items: flex-end;
  }
}

.year-list li { display: inline }
.year-list li:not(:last-child)::after { content: " ·" }

.project-list img {
  margin-bottom: 0;
  transition: transform .2s;
  border-radius: 0.5rem;
}

.project-list a:hover img {
  transform: scale(1.05);
}
