{# Required argument: collection | array of project objects #}
<ul reversed class="project-list grid">
{% for project in collection | reverse %}

  <li class="postlist-item{% if project.url == url %} postlist-item-active{% endif %}">
    <a href="{{ project.url | url }}" class="postlist-link">
      <img src="{{ project.data.thumbnail }}" alt="{{ project.data.title }}">
    </a>
  </li>

{% endfor %}
</ul>
