{# Required argument: collection | array of sketchbook objects #}

<ul reversed class="sketch-list layout--grid">
{% for sketch in collection | reverse %}

  <li>
    <a href="{{ sketch.url | url }}" class="sketch-list_link">
      <img src="{{ sketch.data.thumbnail }}" alt="{{ sketch.data.title }}">
    </a>
  </li>

{% endfor %}
</ul>
