# System Junk

*.log
.cache
.DS_Store
src/.temp
.env
.env.*

# Project junk

node_modules
dist
static/temp

# Large media

static/cdn/*
!static/cdn/.gitkeep
static/images/*
!static/images/.gitkeep

# Local Netlify folder
.netlify
