# System Junk

*.log
.cache
.DS_Store
src/.temp
.env
.env.*

# Project junk

node_modules
dist
static/temp

# Large media

src/_static/cdn/*
!src/static/cdn/.gitkeep
src/static/images/*
!src/static/images/.gitkeep

# Local Netlify folder
.netlify
