---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.log.json.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.feed.log.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.feed.log.json.url }}",
  "description": "{{ metadata.feed.log.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for entry in collections.logs | reverse %}
    {%- set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absoluteEntryUrl }}",
      "url": "{{ absoluteEntryUrl }}",
      "title": "{{ entry.data.title }}",
      "content_html": {% if entry.templateContent %}{{ entry.templateContent | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ entry.data.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
