---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.projects.xml.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
{%- set absoluteUrl -%}
	{{ metadata.feed.projects.xml.path | url | absoluteUrl(metadata.url) }}
{% endset %}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ metadata.feed.projects.title }}</title>
		<description>{{ metadata.feed.projects.description }}</description>
		<pubDate>{{ collections.projects | rssLastUpdatedDate }}</pubDate>
		<language>en-US</language>

		<link>{{ absoluteUrl }}</link>
		<atom:link href="{{ absoluteUrl }}" rel="self" type="application/rss+xml" />

		<author>
			<name>{{ metadata.author.name }}</name>
			<email>{{ metadata.author.email }}</email>
		</author>

		{%- for entry in collections.projects | reverse -%}
			{% set absoluteEntryUrl %}
				{{ entry.url | url | absoluteUrl(metadata.url) }}
			{% endset %}
			<item>
				<title>{{ entry.data.title }}</title>
				<link>{{ absoluteEntryUrl }}</link>
				<description>
					<![CDATA[{{ entry.templateContent | htmlToAbsoluteUrls(absoluteEntryUrl) | safe }}]]>
				</description>
				<guid isPermalink="true">{{ absoluteEntryUrl }}</guid>
				<pubDate>{{ entry.data.date | rssDate }}</pubDate>
			</item>
		{% endfor %}
	</channel>
</rss>
