---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.projects.xml.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.feed.projects.title }}</title>
	<subtitle>{{ metadata.feed.projects.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ metadata.feed.projects.xml.path | url | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.projects | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.projects.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for entry in collections.projects | reverse %}
	{% set absoluteEntryUrl %}{{ entry.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ entry.data.title }}</title>
		<link href="{{ absoluteEntryUrl }}"/>
		<updated>{{ entry.date | rssDate }}</updated>
		<id>{{ absoluteEntryUrl }}</id>
		<content type="html">{{ entry.templateContent | htmlToAbsoluteUrls(absoluteEntryUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
