---
layout: layouts/no-sidebar.njk
---

<p><a href="{{ '/log/' | url }}">&larr; back to adventure log</a></p>

<h1>{{ title }}</h1>

<div class="layout--flow">
{{ content | safe }}
</div>

{% set previousPost = collections.logs | getPreviousCollectionItem %}
{% set nextPost = collections.logs | getNextCollectionItem %}
{% if previousPost or nextPost %}
  <nav class="layout--level" aria-label="Pagination">
    {% if previousPost %}
      <a href="{{ previousPost.url }}">&larr; Previous</a>
    {% endif %}
    <span>&nbsp;</span>
    {% if nextPost %}
      <a href="{{ nextPost.url }}">Next &rarr;</a>
    {% endif %}
  </nav>
{% endif %}
