---
layout: layouts/no-sidebar.njk
---

<h1>{{ title }}</h1>

<p class="metadata">
  <time datetime="{{ page.date | htmlDateString }}">
    {{ page.date | readableDate }}
  </time>

  {% if tags %}
    &middot;
    {% for tag in tags | filterTagList %}
      {% set tagUrl %}/posts/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">#{{ tag }}</a>
    {% endfor %}
  {% endif %}
</p>

{{ content | safe }}
