---
layout: layouts/no-sidebar.njk
---

<h1>{{ title }}</h1>

<p class="sketch-meta">
  <time class="sketch-list_date" datetime="{{ page.date | htmlDateString }}">
    {{ page.date | readableDate }}
  </time>

  {% if tags %}
    &middot;
    {% for tag in tags | filterTagList %}
      {% set tagUrl %}/sketchbook/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="sketch-tag">#{{ tag }}</a>
    {% endfor %}
  {% endif %}
</p>

<div class="sketch-content">
{{ content | safe }}
</div>
