<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Analytics -->
    <script defer data-domain="mattmcadams.com" src="https://plausible.io/js/script.js"></script>

    <!-- Author / Humans.txt -->
    <link type="text/plain" rel="author" href="/humans.txt" />

    <!-- METADADA -->
    {% if title %}
      <title>{{title}} | {{metadata.title}}</title>
    {%else%}
      <title>{{metadata.title}}</title>
    {%endif%}
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="og:title" content="{{title or metadata.title}}">
    <meta name="og:description" content="{{ description or metadata.description }}">
    <meta name="og:image" content="{{ thumbnail or metadata.thumbnail }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{title or metadata.title}}">
    <meta name="twitter:description" content="{{description or metadata.description}}">
    <meta name="twitter:image" content="{{thumbnail or metadata.thumbnail}}">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="{{ '/assets/styles/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/mattmcadams.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/styles/prism-theme.css' | url }}">

    <!-- FEEDS -->
    <link rel="alternate" href="{{ metadata.feed.default.xml.path | url }}" type="application/rss+xml" title="{{ metadata.feed.default.title }}">
    <link rel="alternate" href="{{ metadata.feed.posts.xml.path | url }}" type="application/rss+xml" title="{{ metadata.feed.posts.title }}">
    <link rel="alternate" href="{{ metadata.feed.projects.xml.path | url }}" type="application/rss+xml" title="{{ metadata.feed.projects.title }}">
    <link rel="alternate" href="{{ metadata.feed.sketchbook.xml.path | url }}" type="application/rss+xml" title="{{ metadata.feed.sketchbook.title }}">
    <link rel="alternate" href="{{ metadata.feed.log.xml.path | url }}" type="application/rss+xml" title="{{ metadata.feed.log.title }}">
  </head>
  <body id="app">
    <header class="container--wide">
      <nav aria-label="Primary Navigation">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/now">Now</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/bookshelf">Bookshelf</a></li>
          <li><a href="https://donate.stripe.com/7sIeVd6E2dAbdeU5kk" target="_blank">Support my work</a></li>
        </ul>
      </nav>
    </header>

    <div class="page">

      {{ content | safe }}

    </div>

    <footer class="container--wide">
      <p>
        <img src="/assets/cc.svg" alt="Creative Commons">
        <small><a href="/license">BY-NC-SA</a> 2015-{{functions.currentYear()}}</small>
        Matthew McAdams &middot;
        <a href="https://webring.xxiivv.com/#mattmcadams">
          <img src="https://webring.xxiivv.com/icon.black.svg" alt="XXIIVV"/> webring
        </a> &middot;
        <span>mattmcadams@outlook.com</span>
      </p>
    </footer>

    </div>
    <div id="console"></div>
    <script src="{{ '/assets/scripts/console.js' | url }}"></script>
    <script>
      console.info('Hello, curious developer! Thanks for checking out my humble home on the internet. If you want to see how this site is built, check out the source code on GitHub: https://github.com/MattMcAdams/mattmcadams.com and leave me a star if you find something cool');
    </script>
  </body>
</html>
