---
permalink: /posts/tags/
layout: layouts/no-sidebar.njk
title: Post Tags
---
<h1>Post Tags</h1>

<ul>
{% for tag in collections.postTags %}
  {% set tagUrl %}/posts/tags/{{ tag | slug }}/{% endset %}
  <li><a href="{{ tagUrl | url }}">#{{ tag }}</a></li>
{% endfor %}
</ul>
