---
layout: layouts/no-sidebar.njk
pagination:
  data: collections.postTags
  size: 1
  alias: tag
eleventyComputed:
  title: 'Posts tagged "{{ tag }}"'
permalink: /posts/tags/{{ tag | slug }}/
---
<h1>Posts Tagged "{{ tag }}"</h1>

{% set collection = collections.postsByTag[ tag ] %}
{% include "postlist.njk" %}

<p>See <a href="{{ '/posts/tags/' | url }}">all post tags</a>.</p>
