---
layout: layouts/base.njk
permalink: /posts/
title: Posts
description: This is the space I use to talk about my interests, ideas, and projects. Most of the time, this will be focused on front-end web design and development.
---
<div class="page__sidebar">
  <div class="layout--flow container">
    <p>
      <a href={{metadata.feed.posts.xml.path}}>Subscribe via XML-RSS</a><br>
      <a href={{metadata.feed.posts.json.path}}>Subscribe via JSON-RSS</a>
    </p>

    <h3>Filter by Tag</h3>
    <ul class="tag-list">
      {% for tag in collections.postTags %}
      {% set tagUrl %}/posts/tags/{{ tag | slug }}/{% endset %}
        <li><a href="{{ tagUrl | url }}">#{{ tag }}</a> <span>({{ collections.postsByTag[tag] | length }})</span></li>
      {% endfor %}
    </ul>

    <h3>Archive</h3>
    <ul class="year-list">
      {% for year in collections.postYears %}
      {% set tagUrl %}/posts/{{ year | slug }}/{% endset %}
        <li><a href="{{ tagUrl | url }}">#{{ year }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<main class="page__content layout--flow container">
  <h1>Thoughts on design & technology</h1>
  <p>{{description}}</p>
  <p>I am, however, a creative with many interests. I may occasionally write about traditional art, illustration, printmaking, book making, productivity, organization, accessibility, ethics, and inclusion in design.</p>

  <h2>Latest Posts</h2>
  <hr />
  {% set collection = collections.posts %}
  {% include "postlist.njk" %}
</main>
