---
layout: layouts/base.njk
---
<div id="main" class="has-sidebar home">
  <div class="sidebar"><img src="https://mattmcadams.com/images/portrait-full.png"></div>
    <main class="content">
      <div>
        <h1>Hi, I'm Matt McAdams</h1>
        <p>I’m a multidisciplinary designer with a BFA from the University of Alabama at Birmingham with a focus in graphic and web design. Currently, I work at the University of Alabama as the Senior Web and User Experience Designer. When I’m not pecking at code or pushing pixels, I like to explore fantasy worlds in books and video games.</p>
        <p>I’m an advocate for creating a more accessible and inclusive web through thoughtful design and great experiences. On this website, you can see my design work, code projects, and read my thoughts on technology and design.</p>
        <p>You can also find me on <a href="https://github.com/MattMcAdams/">GitHub</a>, <a href="https://twitter.com/mattmakesart">Twitter</a>, <a href="https://www.instagram.com/mattmcadams/">Instagram</a>, <a href="https://www.behance.net/mattmcadams">Behance</a>, <a href="https://dribbble.com/mattmcadams">Dribbble</a>, and <a href="https://www.linkedin.com/in/mcadamsmatthew/">LinkedIn</a></p>
      </div>
    </main>
  </div>
</div>
