---
layout: layouts/base.njk
permalink: /posts/
title: Posts
---
{% set postslist = collections.posts %}

<div id="main" class="has-sidebar">
  <div class="sidebar">
    <p>
      <a href="/feed/feed.xml">Subscribe via XML-RSS</a><br>
      <!--<a href="#">Subscribe via Email</a>-->
    </p>

    <!--<h3>Search</h3>
    <form class="site-search">
    <input type="text"><button>GO</button>
    </form>-->

    <h3>Filter by Tag</h3>
    <ul class="tag-list">
      {# Loop through all tags in the post tag list #}
      {% for tag in collections.postTagList %}
        {# Set an item variable to keep track of the number of items that match the tag #}
        {% set items = 0 %}
        {# Loop through all items that match the tag (this will also pull projects) #}
        {% for item in collections[tag] %}
          {# Only increment the items variable if the item has the post type #}
          {% if item.data.type == "post" %}
            {% set items = items + 1 %}
          {% endif %}
        {% endfor %}
        {# Set up the scheme for the tag url #}
        {% set tagUrl %}/posts/tags/{{ tag | slug }}/{% endset %}
        {# Print the list item with tag link and index #}
        <li><a href="{{ tagUrl | url }}">#{{ tag }}</a> <span>({{ items }})</span></li>
      {% endfor %}
    </ul>

    <!--<h3>Archive</h3>
    <a>2019</a> &middot; <a>2020</a> &middot; <a>2021</a>-->

  </div>
    <main class="content">
      <div>
        <h1>Thoughts on design & technology</h1>
        <p>This is the space I use to talk about my interests, ideas, and projects. Most of the time, this will be focused on front-end web design and development.</p>
        <p>I am, however, a creative with many interests. I may occasionally write about traditional art, illustration, printmaking, book making, productivity, organization, accessibility, ethics, and inclusion in design.</p>

        <h2>Latest Posts</h2>

        {% include "postlist.njk" %}
      </div>
    </main>
  </div>
</div>
