---
permalink: /projects/tags/
layout: layouts/no-sidebar.njk
title: Project Tags
---
<h1>Project Tags</h1>

<ul>
{% for tag in collections.projectTags %}
  {% set tagUrl %}/projects/tags/{{ tag | slug }}/{% endset %}
  <li><a href="{{ tagUrl | url }}">#{{ tag }}</a></li>
{% endfor %}
</ul>
